@page "/clientreport"
@using MudBlazor
@using FlintstonesBackOffice.Services

@inject TableStorageService TableStorageService
@inject ISnackbar Snackbar

<PageTitle>Client Report</PageTitle>

<MudPaper Elevation="25">
    <MudToolBar>
        <MudSelect T="string" Label="Type" Value="@SelectedSearchType" SelectedValuesChanged="(value) => OnSelectedValuesChanged(value.FirstOrDefault())" Placeholder="Select Type" AnchorOrigin="Origin.BottomCenter" AdornmentColor="Color.Primary">
            <MudSelectItem Value="@("ClientID")" />
            <MudSelectItem Value="@("BetID")" />
            <MudSelectItem Value="@("Status")" />
            <MudSelectItem Value="@("From Date")" />
        </MudSelect>

        @if (SelectedSearchType == "ClientID")
        {
            <MudTextField Class="ml-4" @bind-Value="SearchTextValue" Placeholder="ClientID" AdornmentColor="Color.Primary" Variant="Variant.Text"></MudTextField>
        }

        @if (SelectedSearchType == "BetID")
        {
            <MudTextField Class="ml-4" @bind-Value="SearchTextValue" Placeholder="BetID" AdornmentColor="Color.Primary" Variant="Variant.Text"></MudTextField>
        }

        @if (SelectedSearchType == "Status")
        {
            <MudSelect Class="ml-4" @bind-Text="SelectedStatus" T="string" Label="Type" Placeholder="Select Status" AnchorOrigin="Origin.BottomCenter" AdornmentColor="Color.Primary">
                <MudSelectItem Value="@("Active")" />
                <MudSelectItem Value="@("Win")" />
                <MudSelectItem Value="@("Lose")" />
                <MudSelectItem Value="@("Refund")" />
            </MudSelect>
        }

        @if (SelectedSearchType == "From Date")
        {
            <MudDatePicker Class="ml-4" Label="From Date" @bind-Date="FromDate" AdornmentColor="Color.Primary" />
        }

        <MudSpacer />

        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="AddFilter" Color="Color.Info">Add Filter</MudButton>
        <MudButton Class="ml-4" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" OnClick="Search" Color="Color.Primary">Search</MudButton>
    </MudToolBar>
</MudPaper>

@if (SearchData.Count > 0)
{
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">

                @foreach (var item in SearchData)
                {
                    <MudChip Color="Color.Primary" Value="@item.Key" OnClose="Closed">@item.Key - @item.Value</MudChip>
                }

            </MudPaper>
        </MudItem>
    </MudGrid>
}

@if (_processing)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
}

<MudSimpleTable Elevation="2" Style="overflow-x: auto; border:none">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in _bets)
        {
            <tr>
                <td>@row.CreatedDate</td>
                <td>@row.Market</td>

                @if (@row.Selection == 1)
                {
                    <td>Price to go UP</td>
                }
                else
                {
                    <td>Price to go DOWN</td>
                }

                <td>@row.Duration (secs)</td>

                @if (@row.StatusID == 2)
                {
                    <td style="color:#16a34a; font-weight:500">Win</td>
                }
                else if (@row.StatusID == 3)
                {
                    <td style="color:#dc2626; font-weight:500">Lose</td>
                }
                else if (@row.StatusID == 4)
                {
                    <td style="color:cornflowerblue">Refund</td>
                }
                else
                {
                    <td>Active</td>
                }

                <td>@row.StakeAmount</td>
                <td>@row.TotalPayout</td>
                <td><MudButton Variant="Variant.Text" Color="Color.Info" OnClick="@(() => OpenDrawerAsync(row))">View</MudButton></td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudDrawer @bind-Open="@open" Anchor="@anchor" Width="40%" Elevation="2" Variant="@DrawerVariant.Temporary">

    @if (_bladeProcessing)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    }

    <MudDrawerHeader>
        <MudText Typo="Typo.h6">@bladeText</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Outlined.Download" Color="Color.Info" />
        <MudIconButton Icon="@Icons.Material.Outlined.Send" Color="Color.Success" />
    </MudDrawerHeader>

    <MonacoEditor @ref="_editor" Id="MonacoEditorOne" ConstructionOptions="EditorConstructionOptions" CssClass="mono" />
    <MonacoEditor @ref="_editorTwo" Id="MonacoEditorTwo" ConstructionOptions="EditorConstructionOptions" CssClass="mono" />

</MudDrawer>