@page "/counter"
@using MudBlazor

<PageTitle>Counter</PageTitle>

<MudPaper Elevation="4">
    <MudToolBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Class="mr-5" />
        <MudIconButton Icon="@Icons.Material.Outlined.Add" @onclick="IncrementCount" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Remove" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.PushPin" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
    </MudToolBar>
</MudPaper>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="IncrementCount">Click Me</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
