@page "/"

<PageTitle>Index</PageTitle>

<MudGrid>
    <MudItem xs="6" sm="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
             <MudText Typo="Typo.subtitle1" Color="Color.Secondary">
                <MudIcon Icon="@Icons.Material.Filled.CallToAction" Color="Color.Primary" Title="Favorite" />
                Atomic-Labs
            </MudText>
            <MudText Typo="Typo.h3">
                13500
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">

            <MudText Typo="Typo.h5">
                <MudIcon Icon="@Icons.Material.Filled.RocketLaunch" Color="Color.Primary" Title="Favorite" />
                Atomic-Labs
            </MudText>

        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
             <MudText Typo="Typo.h5">
                <MudIcon Icon="@Icons.Material.Filled.RocketLaunch" Color="Color.Primary" Title="Favorite" />
                Atomic-Labs
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">

             <MudText Typo="Typo.h5">
                <MudIcon Icon="@Icons.Material.Filled.RocketLaunch" Color="Color.Primary" Title="Favorite" />
                Atomic-Labs
            </MudText>

        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudChart ChartType="ChartType.Line" ChartSeries="@SeriesN" @bind-SelectedIndex="IndexNo" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="IndexNo" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
    </MudItem>
</MudGrid>


@code {
    private int IndexNo = -1; //default value cannot be 0 -> first selectedindex is 0.

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "United States", Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 } },
        new ChartSeries() { Name = "Germany", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 31 } },
        new ChartSeries() { Name = "Sweden", Data = new double[] { 8, 6, 11, 13, 4, 16, 10, 16, 18 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };

    private int IndexN = -1; //default value cannot be 0 -> first selectedindex is 0.

    public List<ChartSeries> SeriesN = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Series 1", Data = new double[] { 90, 79, 72, 69, 62, 62, 55, 65, 70 } },
        new ChartSeries() { Name = "Series 2", Data = new double[] { 10, 41, 35, 51, 49, 62, 69, 91, 148 } },
    };

    Random random = new Random();
    public void RandomizeData()
    {
        var new_series = new List<ChartSeries>()
        {
            new ChartSeries() { Name = "Series 1", Data = new double[9] },
            new ChartSeries() { Name = "Series 2", Data = new double[9] },
        };
        for (int i = 0; i < 9; i++)
        {
            new_series[0].Data[i] = random.NextDouble() * 100;
            new_series[1].Data[i] = random.NextDouble() * 100;
        }
        Series = new_series;
        StateHasChanged();
    }
}

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@
