@page "/markets"
@using MudBlazor

<PageTitle>Markets</PageTitle>

<MudPaper>
    <MudToolBar>
        <MudRadioGroup @bind-SelectedOption="@SelectedMarket">
            <MudTooltip Text="Bitcoin / Tether">
                <MudRadio Option="@("BTCUSDT")" Color="Color.Primary">BTCUSDT</MudRadio>
            </MudTooltip>
            <MudTooltip Text="Ethereum / Bitcoin">
                <MudRadio Option="@("ETHBTC")" Color="Color.Primary">ETHBTC</MudRadio>
            </MudTooltip>
            <MudTooltip Text="XRP / Bitcoin">
                <MudRadio Option="@("XRPBTC")" Color="Color.Primary">XRPBTC</MudRadio>
            </MudTooltip>
            <MudTooltip Text="SAND / Bitcoin">
                <MudRadio Option="@("SANDBTC")" Color="Color.Primary">SANDBTC</MudRadio>
            </MudTooltip>
            <MudTooltip Text="Dogecoin / Bitcoin">
                <MudRadio Option="@("DOGEBTC")" Color="Color.Primary">DOGEBTC</MudRadio>
            </MudTooltip>
        </MudRadioGroup>
        <MudSpacer />
        <MudRadioGroup @bind-SelectedOption="@SelectedDirection">
            <MudTooltip Text="Price to go up">
                <MudRadio Option="@("UP")" Color="Color.Success">UP</MudRadio>
            </MudTooltip>
            <MudTooltip Text="Price to go down">
                <MudRadio Option="@("DOWN")" Color="Color.Error">DOWN</MudRadio>
            </MudTooltip>
        </MudRadioGroup>
        <MudIconButton Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.PushPin" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
    </MudToolBar>
</MudPaper>
<MudProgressLinear Color="Color.Primary" Indeterminate="true"/>

<MudGrid Spacing="1" Justify="Justify.Center">
    <MudItem>
        <MudField Label="" Variant="Variant.Text" DisableUnderLine=true Disabled=true>
            The following market predicition of @SelectedMarket is based on the most popular technical indicators, such as Moving Averages, Oscillators and Pivots:
        </MudField>
    </MudItem>
    <MudItem>
        <MudButton Variant="Variant.Text" Style="margin-top:20px;" Color="Color.Success">PRICE SHOULD BE GOING UP</MudButton>
    </MudItem>
</MudGrid>

<MudSimpleTable Elevation="2" Style="overflow-x: auto; border:none">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in _marketOdds)
        {
            <tr>
                    <td>@row.ID</td>
                    <td>@row.Duration</td>
                    <td>@row.Direction</td>
                    <td><MudButton Variant="Variant.Text" Color="Color.Info" OnClick="OpenDialog">Edit Odds</MudButton></td>
                    <td><MudButton Variant="Variant.Text" Color="Color.Warning" OnClick="OpenDrawer">Smart Odds</MudButton></td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudDialog @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3"/> Edit Odd
        </MudText>
    </TitleContent>
    <DialogContent>
        <p style="color:slategray">Decimal Point is a "." dot</p>
        <MudNumericField Label="Odd" Variant="Variant.Text" Min="0.0" />
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Close</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit" Class="px-10">Save</MudButton>
    </DialogActions>
</MudDialog>

<MudDrawer @bind-Open="@open" Anchor="Anchor.End" Elevation="2" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">My App</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All">Store</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All">Library</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {

    public string SelectedMarket { get; set; }
    public string SelectedDirection { get; set; }
    public List<MarketOdd> _marketOdds = new List<MarketOdd>();
    string[] headings = {"","Duration", "Base odds", "Direction", "", "" };

     private bool visible;
    private void OpenDialog() => visible = true;
    void Submit() => visible = false;
    bool open;

    private DialogOptions dialogOptions = new() {  };

    protected override Task OnInitializedAsync()
    {
        SelectedMarket = "BTCUSDT";
        SelectedDirection = "UP";
        PopulateMarketOdds();
        return base.OnInitializedAsync();
    }

    void PopulateMarketOdds()
    {
        _marketOdds.Add(new MarketOdd { ID = "1",  Duration = 30, Direction = SelectedDirection == "UP" ? 1 : 0 });
        _marketOdds.Add(new MarketOdd { ID = "2",  Duration = 45, Direction = SelectedDirection == "UP" ? 1 : 0 });
        _marketOdds.Add(new MarketOdd { ID = "3",  Duration = 60, Direction = SelectedDirection == "UP" ? 1 : 0 });
        _marketOdds.Add(new MarketOdd { ID = "4",  Duration = 90, Direction = SelectedDirection == "UP" ? 1 : 0 });
        _marketOdds.Add(new MarketOdd { ID = "5",  Duration = 120, Direction = SelectedDirection == "UP" ? 1 : 0 });
    }

    void OpenDrawer()
    {
        open = true;
    }


    string[] rows = {
        @"1 Krishna kpartner0@usatoday.com Male 28.25.250.202",
        @"2 Webb wstitle1@ning.com Male 237.168.134.114",
        @"3 Nathanil nneal2@cyberchimps.com Male 92.6.0.175",
        @"4 Adara alockwood3@patch.com Female 182.174.217.152",
        @"5 Cecilius cchaplin4@shinystat.com Male 195.124.144.18",
        @"6 Cicely cemerine9@soup.io Female 138.94.191.43",
    };
   
}
