@page "/markets"
@using MudBlazor
@using FlintstonesBackOffice.Services

@inject TableStorageService TableStorageService

<PageTitle>Markets</PageTitle>

<MudPaper>
    <MudToolBar>
        <MudSelect T="string" Value="@SelectedMarket" SelectedValuesChanged="(value) => OnSelectedValuesChanged(value.FirstOrDefault())" Placeholder="Select Market"
            AdornmentColor="Color.Primary" DisableUnderLine="true" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("BTCUSDT - (Bitcoin/Tether)")" />
            <MudSelectItem Value="@("ETHBTC - (Ethereum/Bitcoin)")" />
            <MudSelectItem Value="@("XRPBTC - (XRP/Bitcoin)")" />
            <MudSelectItem Value="@("SANDBTC - (SAND/Bitcoin)")" />
            <MudSelectItem Value="@("DOGEBTC - (Dogecoin/Bitcoin)")" />
        </MudSelect>
        <MudSpacer />
        <MudRadioGroup T="string" SelectedOption="@SelectedDirection" SelectedOptionChanged="(value) => OnSelectedDirectionValuesChanged(value)">
            <MudTooltip Text="Price to go up">
                <MudRadio Option="@("UP")" Color="Color.Success">UP</MudRadio>
            </MudTooltip>
            <MudTooltip Text="Price to go down">
                <MudRadio Option="@("DOWN")" Color="Color.Error">DOWN</MudRadio>
            </MudTooltip>
        </MudRadioGroup>
    </MudToolBar>
</MudPaper>

@if (_processing)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
}


<MudSimpleTable Elevation="2" Style="overflow-x: auto; border:none">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in _marketOdds)
        {
            <tr>
                    <td></td>
                    <td>@row.Duration</td>
                    <td>@row.BaseOdds</td>

                @if (row.Direction == 1)
                {
                    <td>UP</td>
                }
                else
                {
                    <td>DOWN</td>
                }
                <td><MudCheckBox ReadOnly=true @bind-Checked="@row.Active" Color="Color.Info"></MudCheckBox></td>
                    <td><MudButton Variant="Variant.Text" Color="Color.Info" OnClick="() => OpenOddsDialog(row)">Edit Odds</MudButton></td>
                    @*<td><MudButton Variant="Variant.Text" Color="Color.Warning" OnClick="OpenDrawer">Smart Odds</MudButton></td>*@
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudDialog @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3"/> Edit Odd
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudAlert Class="pa-3" Severity="Severity.Info">Decimal Point is a "."dot</MudAlert>
        <MudAlert Class="pa-3" Severity="Severity.Error">Numbers with ","comma will be treated as a whole number</MudAlert>
        <MudNumericField @bind-Value="@UpdatedOdd" Label="Odd" Variant="Variant.Text" Min="0.0" Max="10" />
        <MudCheckBox @bind-Checked="@UpdateActive" Color="Color.Primary">Active</MudCheckBox>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Close</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="SaveOdds" Class="px-10">Save</MudButton>
    </DialogActions>
</MudDialog>

<MudDrawer @bind-Open="@open" Anchor="Anchor.End" Elevation="2" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">My App</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All">Store</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All">Library</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
    </MudNavMenu>
</MudDrawer>


