@page "/users"
@using MudBlazor
@using FlintstonesBackOffice.Services
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@inject TableStorageService TableStorageService

<PageTitle>Users</PageTitle>

@if (_processing)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
}

<MudButton 
           Variant="Variant.Text"
           StartIcon="@Icons.Material.Filled.Add"
           Color="Color.Success"
           OnClick="(() => visible = true)"
           Style="text-transform:none">
    Add new user
</MudButton>

<MudSimpleTable Elevation="2" Style="overflow-x: auto; border:none">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
       @foreach (var row in _users)
        {
            <tr>
                    <td>@row.FullName</td>
                    <td>@row.Email</td>
                    <td><MudButton Variant="Variant.Text" Color="Color.Error" OnClick="() => DeleteUser(row)">Delete</MudButton></td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudDialog @bind-IsVisible="visible">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3"/> Add User
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField @bind-Value="NewFullName" Required="true" MaxLength="50" Label="Full Name" Variant="Variant.Text"></MudTextField>

        <MudTextField @bind-Value="NewEmail" Label="Email" Required="true" RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})"/>

        <MudTextField @bind-Value="NewPassword" Required="true" InputType="InputType.Password" MaxLength="50" Label="Password" Variant="Variant.Text"></MudTextField>

        @if (_showDialogErr)
        {
             <MudAlert Class="pa-3" Severity="Severity.Error">@dialogErrMsg</MudAlert>
        }

    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CloseDialog" Class="px-10">Close</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="SaveUser" Class="px-10">Save</MudButton>
    </DialogActions>
</MudDialog>